<section>
    <form [formGroup]="addParticipantForm" (ngSubmit)="submitParticipant(addParticipantForm)">
        <div class="control">
            <label>
                Name: 
                <input type="text" formControlName="name" required>
            </label>
        </div>
        <div class="control">
            <label>
                ID: <input type="text" formControlName="id" required>
            </label>
        </div>
        <div class="control">
            <label>
                Expenses:
                <input type="number" formControlName="expenses" required>
            </label>
        </div>
        <button role="submit" class="button is-primary">Calculate</button>
    </form>
</section>
