<nav data-qa="navbar-comp" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">{{ title }}</div>
  </div>
</nav>
<hr class="navbar-divider" />
<main>
  <app-participant-list></app-participant-list>
</main>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Trip Expense App</strong> by
      <a href="https://github.com/jessethach">Jesse Thach</a>.
    </p>
  </div>
</footer>
