
<section class="section">
    <section class="tile is-ancestor">
            <article class="tile is-child box">
                <p class="title">Trip Calculator</p>
                <p class="content">
                    <strong class="has-text-danger is-size-4">
                        Total Trip Cost: {{ totalTripCost$ | async }}
                    </strong>
                </p>
                <ng-container>
                    <form
                    [formGroup]="filterForm"
                    (ngSubmit)="onSubmit(filterForm)">
                        <div class="is-pulled-right">
                            <button role="submit" class="button is-primary">Calculate</button>
                        </div>
                        <div [hidden]="hideData">
                            <ng-container formArrayName="debtList" *ngFor="let debt of filterFormGroups?.controls; let i = index;">
                                <div class="field">
                                    <label class="checkbox" for="{{participantDebts[i].name}}">
                                        <input id="{{participantDebts[i].name}}" type="checkbox" disabled name="{{participantDebts[i].name}}"
                                            class="switch is-rounded is-small" checked="{{ !participantDebts[i].hidden }}">
                                        {{ participantDebts[i].name }}
                                    </label>
                                </div>
                                <div class="field" *ngIf="totalTripCost$ | async as total">
                                    <ng-container>
                                        <p *ngIf="0 < participantDebts[i].debt" class="has-text-danger">
                                            {{ participantDebts[i].name }} owes {{ participantDebts[i].debt | currency }}
                                        </p>
                                        <p *ngIf="0 >= participantDebts[i].debt" class="has-text-primary">
                                            {{ participantDebts[i].name }} is owed {{ -participantDebts[i].debt | currency }}
                                        </p>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </form>
                </ng-container>
            </article>
        <div class="tile is-parent is-8">
            <article class="tile is-child box">
                <p class="title">Travelers</p>
                <div class="content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="is-size-6">
                                    Name
                                </th>
                                <th class="is-size-6">
                                    Contribution
                                </th>
                                <th class="is-size-6">
                                    Expense Breakdown
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Contribution</th>
                                <th>Expense Breakdown</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr class="table-row" *ngFor="let participant of participants">
                                <td>{{ participant.name }} </td>
                                <td>{{ expenseSum(participant.expenses) }}</td>
                                <td><button class="button is-info is-small" (click)="onClickDetails(participant)">details</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </section>
</section>
<section class="section">
    <div class="tile is-parent is-8">
        <app-participant-form></app-participant-form>
    </div>
</section>
<section class="section">
    <section class="tile is-ancestor">
        <article class="tile is-child box">
            <p class="title">Details</p>
            <ng-container *ngIf="currentDetail">
                <div class="block">
                    <p class="content is-size-4">{{ currentDetail.name }}</p>
                </div>
                <ng-container *ngFor="let expense of currentDetail.expenses">
                    <div class="block">
                        <p class="content">{{ expense.activity | titlecase }}: {{ expense.cost }}</p>
                    </div>
                </ng-container>
            </ng-container>
        </article>
    </section>
</section>
